//basic colour palette

$white: #fff;
$black: #000;
$blue: #25215A;
$red: #EE3557;
//dark-pink
$dark-red: #D02953;
$amber: #ed5300;
$mint: #00ffc2;
$dark-mint: #00af7f;

//grey colour palette

//greybrown
$basalt: #545454;
$transparent-basalt: rgba(84, 84, 84, 0.2);
//brownish-grey
$gabbro: #646464;
//greyish
$andesite: #b6b6b6;
//white-three
$granite: #dadada;
//almost-white
$pumice: #f5f5f5;

//homepage colour palette

$jaffa-orange: #FFBE06;
$dark-jaffa-orange: #d7ac06;
$grape-purple: #711F62;
$mustache-brown: #B22D43;
$trench-blue: #1F193D;
$fighter-jet-grey: #9290ad;
